@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/static/Raleway-Regular.ttf")
}

html * {
    font-family: 'Raleway' !important;
}

.header-blue {
    background-color: #223F99;
    min-height: 50px;
}

.sasb-shadow {
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
}

.sasb-navbar {
    position: absolute;
    z-index: 1;
}

.sasb-logo-navbar {
    max-width: 300px;
}

.btn.btn-sasb-blue {
    background-color: #223F99;
    border-width: 1;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 25px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.btn.btn-sasb-blue:hover {
    background-color: #8DC63F;
    color: #223F99;
    transition: 0.25s;
}

.btn.btn-sasb-blue-outline {
    background-color: white;
    border-color: #223F99;
    color: #223F99;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 25px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1;
    border-radius: 5px;
}

.btn.btn-sasb-blue-outline:hover {
    background-color: #223F99;
    color: white;
    transition: 0.25s;
}

.btn.btn-sasb-red-outline {
    background-color: white;
    border-width: 1;
    border-color: #992020;
    color: #992020;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 25px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.btn.btn-sasb-red-outline:hover {
    background-color: #992020;
    color: white;
    transition: 0.25s;
}

.btn.btn-sasb-green {
	background-color: #8DC63F;
	color: white;
    font-weight: 600;
	font-size: 14px;
}

.btn.btn-sasb-green:hover {
	background-color: white;
	color: #223F99;
    transition: 0.25s;
}

.container-full {
    height: 100vh;
}

.footer-blue {
    background-color: #223F99;
    min-height: 50px;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 14px;
    font-weight: 700;
}

.google-map {
    width: 100%;
    height: 100vh;
}

.marker {
    display: flex;
    align-items: center;
    width: 180px;
}

.marker-text {
    font-size: 14px;
    font-weight: 600;
}

.form-registration {
	border-radius: 10px;
    background-color: #223F99;
    color: white;
    font-weight: 600;
}

.form-label {
    color: #8DC63F;
}

.form-link {
	color: white;
	text-decoration: none;
}

.form-link:hover {
	color: rgba(141, 198, 63, 1);
    transition: 0.25s;
}